.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradlew.bat
hs_err_pid3240.log
.bat
*.log
MbPT.iml
/gradle
gradle.properties
gradlew
.idea
/app/app.iml
/app/proguard-rules.pro

