<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.NEWROW.row">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.NEWROW.row.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name="com.NEWROW.row.Subproject"></activity>
        <activity android:name="com.NEWROW.row.yourprofile.Ownprofile" />
        <activity android:name="com.NEWROW.row.OpenPDF" />
        <activity android:name="com.NEWROW.row.ShowNotification" />
        <activity android:name="com.NEWROW.row.RotaryWorld" />
        <activity android:name="com.NEWROW.row.PDFViewActivityDocument" />
        <activity
            android:name="com.NEWROW.row.DirectOpenLinkInChrome"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.AboutDeveloperNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.RegistrationPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.ViewMediaPhoto"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.RotaryIndia"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.ThankYouPageForRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.RowWebDesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.FeaturesSubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.PublicImage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.RowWeb"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.FeaturesActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.NEWROW.row.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.NEWROW.row.GroupDashboardAdmin"
            android:label="@string/title_activity_group_dashboard_admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.NEWROW.row.ServiceDirectoryList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DTDirectoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DistrictCommittee"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DTClassificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" /> <!-- <activity android:name="com.soundcloud.android.crop.CropImageActivity" /> -->
        <activity
            android:name="com.NEWROW.row.croputility.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.SearchAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.ViewAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ServiceDirectoryImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ServiceDirectoryDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ServiceDirectoryAdd_new"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.GroupDashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ServiceDirectoryAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.OTP_Screen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.LoginPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.CreateGroup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddEvent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.SelectCountry"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.PreferredLanguage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.TermsAndConditionWelcome"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.GroupsListingDashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.EventDetails"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.NewProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.FamilyProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Directory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DirectoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ClassificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ClassificationDirectoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.FamilywiseDirectoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ShowFeedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.E_Bulletin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddE_bulletin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Announcement_details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Global_Search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.NEWROW.row.Celebration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.SubGroupList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DateAndTimeList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddEventDateTime"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddMembers"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--
            <activity
            android:name=".CreateGroup"
            android:windowSoftInputMode="stateHidden"/>
        -->
        <activity
            android:name="com.NEWROW.row.GroupCreated"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.EditMember"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.EditContact"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Contact_Import"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Documents_upload"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Documents"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.WelcomeScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Announcement"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Events"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.CreateSubGroup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddAnnouncement"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.SubGroupDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.InitialProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.CreateGroupModule"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.GroupProfileResult"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.GroupInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AdvancedSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.AdvancedSearchResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.SplashImageSlider"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="rowapi.rosteronwheels.com"
                    android:pathPrefix="/InviteMember/Join.aspx"
                    android:port="8062"
                    android:scheme="http" />

                <!-- http://rowapi.rosteronwheels.com/TouchBaseInvite/JoinTouchbase.aspx -->
            </intent-filter>
        </activity> <!-- http://servicestest.touchbase.in:8062/TouchBaseInvite/JoinTouchbase.aspx -->
        <activity
            android:name="com.NEWROW.row.ImageZoom"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Edit_Screen_Listview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.AddFamilyDetailToProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.Settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.GroupSettings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.Map"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.AddMemberToGroup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.EventVenueSearchAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.GroupInfo_New"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.GroupInfo_desc"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.ShowCaseCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.NEWROW.row.services.ReplicaInfoSyncerService"
            android:exported="false" />
        <service
            android:name="com.NEWROW.row.services.UploadPhotoService"
            android:exported="false" />
        <service
            android:name="com.NEWROW.row.services.DirectoryUpdateService"
            android:exported="false" /> <!-- fcm -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <service
            android:name="com.NEWROW.row.notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />




            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC0QpMNH1RJITaaTNUneurkVG_J1N0BdHM" />
        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0QpMNH1RJITaaTNUneurkVG_J1N0BdHM"
            />
        -->
        <!-- old key : android:value="AIzaSyAUZlVScSBi5mhMgiO1jxYdKG5kBbLiZco" -->
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- For google analytics only -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" /> <!-- End of  For google analytics only -->
        <!--
             Following is the part added for the chat module only.
             Please do not delete these lines
        -->
        <!-- <service android:name="com.SampleApp.row.com.SampleApp.row.chat.XmppConnectService" > -->
        <!-- </service> -->
        <!-- <activity android:name="com.SampleApp.row.com.SampleApp.row.chat.ChatLoginActivity"></activity> -->
        <!-- <activity android:name="com.SampleApp.row.com.SampleApp.row.chat.ChatHome" /> -->
        <!-- <activity -->
        <!-- android:name="com.SampleApp.row.com.SampleApp.row.chat.SendMessageActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden"/> -->
        <!-- <receiver android:name="com.SampleApp.row.com.SampleApp.row.chat.XmppReceiver" > -->
        <!-- <intent-filter > -->
        <!-- <action android:name="TOUCHBASE_CHAT_CONNECT" /> -->
        <!-- <action android:name="TOUCHBASE_CHAT_SEND_MESSAGE" /> -->
        <!-- <action android:name="android.intent.action.ACTION_SHUTDOWN" /> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <action android:name="android.intent.action.QUICKBOOT_POWERON" /> -->
        <!-- <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" /> -->
        <!-- <action android:name="android.intent.action.REBOOT" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name="com.SampleApp.row.com.SampleApp.row.chat.DateChangeReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.DATE_CHANGED" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name="com.SampleApp.row.com.SampleApp.row.chat.ConnectionChangeReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!--  -->
        <!--  -->
        <!-- // Gallery Module Starts// -->
        <activity
            android:name="com.NEWROW.row.Gallery"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddAlbum"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.GalleryDescription"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AlbumFolderPage"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddPhoto"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ImageDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Improvement"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.Improvement_details"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddImprovement"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.SubGroupSelectionList"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.NewGroupSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.AttendanceList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.ProfileActivityV4"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.PDFViewActivity"
            android:screenOrientation="portrait" /> <!-- // android:launchMode="singleTop" ,singletop added by gaurav for blank  activity not display// -->
        <activity
            android:name="com.NEWROW.row.CallPopupActivity"
            android:screenOrientation="portrait" /> <!-- // External Link Starts// -->
        <activity
            android:name="com.NEWROW.row.ExternalLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.OpenLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.AdminSubModuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.AddPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.EditAlbumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.PicturesinsideAlbum"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.EditPhotoActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" /> <!-- Calendar Activity Starts -->
        <activity
            android:name="com.NEWROW.row.calendar.MonthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.calendar.DayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.calendar.YearActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.calendar.ScheduleView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.calendar.CalendarNotificationDetails"
            android:screenOrientation="portrait" /> <!-- Calendar Activity Ends -->
        <activity
            android:name="com.NEWROW.row.ServiceCattegoryList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" /> <!-- ROW related Activity starts -->
        <activity
            android:name="com.NEWROW.row.LoginPage_Row"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.Registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.FindRotatrianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.RotarianList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.RotarianBusinessDetails_ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.BoardOfDirectorsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.WebLinkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.WebLinkDescription"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.PastPresidentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.FindAClubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ClubHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.RotaryLibraryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.RotaryLibraryDescription"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.MyClubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.NEWROW.row.FindAClubResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.ClubInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.NewClubInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DistrictClubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DTEvents"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DTAlbum"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DTNewsLetters"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DTEventDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DTCalendarEventDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DTAddAlbum"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.CalenderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DTEditAlbumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.NEWROW.row.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver android:name="com.NEWROW.row.Receiver.PhotoUploadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.NEWROW.row.Receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.NEWROW.row.DashboardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="rosteronwheel.page.link"
                    android:pathPrefix="/"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.NEWROW.row.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.RotaryBlog"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.RotaryNews"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.DistrictSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NEWROW.row.ROWHelpline"
            android:screenOrientation="portrait" />

        <service
            android:name="com.NEWROW.row.services.DirectorySyncService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />
        <service
            android:name="com.NEWROW.row.services.ServiceUpdateService"
            android:exported="false" />

        <activity
            android:name="com.NEWROW.row.AddDependent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddedMembers"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AttendenceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AttendenceDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.EditAttendence"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DependentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.EditDependentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddedDependentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.MonthlyReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.MonthlyReportListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.AddDependentMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.NEWROW.row.DistrictCommiteeProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.NEWROW.row.LeaderBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.NEWROW.row.DistrictCommitteeWithCategory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.NEWROW.row.ActivitiesNotificationDetails" />
    </application>

</manifest>