<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.SampleApp.row">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.SampleApp.row.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.SampleApp.row.gcm.permission.C2D_MESSAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        -->

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ServiceDirectoryList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".DTDirectoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".DistrictCommittee"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".DTClassificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--<activity android:name="com.soundcloud.android.crop.CropImageActivity" />-->
        <activity android:name=".croputility.CropImageActivity" />
        <activity android:name=".SearchAddress" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ViewAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ServiceDirectoryImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ServiceDirectoryDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ServiceDirectoryAdd_new"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GroupDashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ServiceDirectoryAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP_Screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CreateGroup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddEvent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SelectCountry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreferredLanguage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsAndConditionWelcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupsListingDashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EventDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NewProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".FamilyProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Directory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DirectoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ClassificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ClassificationDirectoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".FamilywiseDirectoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ShowFeedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".E_Bulletin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddE_bulletin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Announcement_details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Global_Search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".Celebration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubGroupList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DateAndTimeList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddEventDateTime"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddMembers"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--
            <activity
            android:name=".CreateGroup"
            android:windowSoftInputMode="stateHidden"/>
        -->

        <activity
            android:name=".GroupCreated"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditMember"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditContact"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Contact_Import"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Documents_upload"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Documents"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WelcomeScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Announcement"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Events"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CreateSubGroup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddAnnouncement"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubGroupDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".InitialProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CreateGroupModule"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GroupProfileResult"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GroupInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".AdvancedSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".AdvancedSearchResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".SplashImageSlider"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="rowapi.rosteronwheels.com"
                    android:pathPrefix="/InviteMember/Join.aspx"
                    android:port="8062"
                    android:scheme="http" />

                <!-- http://rowapi.rosteronwheels.com/TouchBaseInvite/JoinTouchbase.aspx -->
            </intent-filter>
        </activity>

        <!-- http://servicestest.touchbase.in:8062/TouchBaseInvite/JoinTouchbase.aspx -->
        <activity
            android:name=".ImageZoom"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Edit_Screen_Listview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddFamilyDetailToProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GroupSettings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Map"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddMemberToGroup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EventVenueSearchAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GroupInfo_New"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GroupInfo_desc"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".notification.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


        <service android:name=".services.ReplicaInfoSyncerService" android:exported="false" />

        <service android:name=".services.UploadPhotoService" android:exported="false" />

        <service android:name=".services.DirectoryUpdateService" android:exported="false" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="androidwarriors.gcmdemo" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC0QpMNH1RJITaaTNUneurkVG_J1N0BdHM" />
        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0QpMNH1RJITaaTNUneurkVG_J1N0BdHM"
            />
        -->


        <!-- old key : android:value="AIzaSyAUZlVScSBi5mhMgiO1jxYdKG5kBbLiZco" -->
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--For google analytics only-->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"
            />

        <!--End of  For google analytics only-->

        <!--
             Following is the part added for the chat module only.
             Please do not delete these lines
        -->

        <!--<service android:name="com.SampleApp.row.com.SampleApp.row.chat.XmppConnectService" >-->
        <!--</service>-->
        <!--<activity android:name="com.SampleApp.row.com.SampleApp.row.chat.ChatLoginActivity"></activity>-->
        <!--<activity android:name="com.SampleApp.row.com.SampleApp.row.chat.ChatHome" />-->
        <!--<activity-->
            <!--android:name="com.SampleApp.row.com.SampleApp.row.chat.SendMessageActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden"/>-->

        <!--<receiver android:name="com.SampleApp.row.com.SampleApp.row.chat.XmppReceiver" >-->
            <!--<intent-filter >-->
                <!--<action android:name="TOUCHBASE_CHAT_CONNECT" />-->
                <!--<action android:name="TOUCHBASE_CHAT_SEND_MESSAGE" />-->
                <!--<action android:name="android.intent.action.ACTION_SHUTDOWN" />-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.intent.action.QUICKBOOT_POWERON" />-->
                <!--<action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />-->
                <!--<action android:name="android.intent.action.REBOOT" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name="com.SampleApp.row.com.SampleApp.row.chat.DateChangeReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.DATE_CHANGED" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name="com.SampleApp.row.com.SampleApp.row.chat.ConnectionChangeReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!---->
        <!---->

        <!-- // Gallery Module Starts// -->
        <activity
            android:name=".Gallery"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddAlbum"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GalleryDescription"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AlbumFolderPage"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddPhoto"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ImageDetailActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Improvement"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Improvement_details"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddImprovement"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubGroupSelectionList"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".NewGroupSelectionActivity"></activity>

        <activity android:name=".AttendanceList"></activity>

        <activity android:name=".AboutActivity" />

        <activity android:name=".ProfileActivityV4" />

        <activity android:name=".PDFViewActivity" />

        <activity android:name=".CallPopupActivity" />

        <!-- // External Link Starts// -->

        <activity android:name=".ExternalLinkActivity" />
        <activity android:name=".OpenLinkActivity" />

        <activity android:name=".AddPhotoActivity"></activity>
        <activity android:name=".EditAlbumActivity" android:windowSoftInputMode="stateHidden"></activity>

        <activity android:name=".PicturesinsideAlbum"
            android:label=""
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".EditPhotoActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden" />

        <!--Calendar Activity Starts-->
        <activity android:name=".calendar.MonthActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".calendar.DayActivity"></activity>
        <activity android:name=".calendar.YearActivity"></activity>
        <activity android:name=".calendar.ScheduleView"></activity>
        <activity android:name=".calendar.CalendarNotificationDetails" android:screenOrientation="portrait"></activity>
        <!--Calendar Activity Ends-->

        <activity
            android:name=".ServiceCattegoryList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!--ROW related Activity starts-->

        <activity android:name=".LoginPage_Row"
            android:screenOrientation="portrait"/>

        <activity android:name=".Registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".FindRotatrianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>


        <activity android:name=".RotarianList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".RotarianBusinessDetails_ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".BoardOfDirectorsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".WebLinkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".WebLinkDescription"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".PastPresidentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".FindAClubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".ClubHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".RotaryLibraryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="RotaryLibraryDescription"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".MyClubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".FindAClubResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".ClubInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".NewClubInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".DistrictClubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".DTEvents"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".DTAlbum"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".DTNewsLetters"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".DTEventDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".DTCalendarEventDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".DTAddAlbum"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".DTEditAlbumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <provider android:name="android.support.v4.content.FileProvider"
            android:authorities="com.SampleApp.row.fileprovider"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths" />
        </provider>

        <receiver android:name=".Receiver.PhotoUploadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>